/* #b0976a */
/* #927E5CFF */
/* #efeae1 */
/* #dfd5c3 */
/* #333333 */
/* #b0976a */
/* #bab9b9 */
/* #bab9b9 */
/* #efeae1 */
/* #dfd5c3 */
/* #414B5A */
/* #b3b3b3 */
/* #fff */
/* #000 */
/* #18181f */
/* #1f2029 */
/* #232838 */
/* #8a8fa0 */
/* #b0976a */
/* #997e4d */
/* #dfd3c3 */
/* #e31235 */
/* #fbe4e3 */
/* #FADBDA */
/* #e5e5e5 */
/* #b9b5b5 */
/* #8e8e93 */
/* #e4e4e4 */
/* #ebebeb */
/* #e8e8e8 */
/* #dedede */
/* #bfbfbf */
/* #999999 */
/* #f0ad4e */
/* #ffd25d */
/* #c1c712 */
/* #2fb457 */
/* #8cb400 */
/* #008dd3 */
/* #0044BB */
.CartItem {
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  transition: all 0.15s;
}
.CartItem:hover {
  border: 1px solid rgb(176, 151, 106);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.CartItem:last-child {
  margin-bottom: 0;
}
.CartItem-Product {
  display: flex;
}
.CartItem-ProductContentImage {
  height: max-content;
  min-height: 100px;
  width: 100px;
}
.CartItem-ProductCommon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.CartItem-ProductInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.CartItem-ProductContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
.CartItem-ProductTitle {
  margin-right: 16px;
  max-width: 260px;
  width: 100%;
  color: rgb(51, 51, 51);
  transition: all 0.15s;
}
.CartItem-ProductControls {
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  width: 100%;
  margin-left: 20px;
}
.CartItem-ProductActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-right: 16px;
}
.CartItem-ProductCounter {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.CartItem-ProductCounterMinus, .CartItem-ProductCounterPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgb(235, 235, 235);
  transition: all 0.15s;
}
.CartItem-ProductCounterMinus:hover, .CartItem-ProductCounterPlus:hover {
  background-color: transparent;
  border-color: rgb(176, 151, 106);
  color: rgb(176, 151, 106);
}
.CartItem-ProductCounterMinus {
  border-radius: 6px 0 0 6px;
  border-width: 2px 0 2px 2px;
}
.CartItem-ProductCounterPlus {
  border-radius: 0 6px 6px 0;
  border-width: 2px 2px 2px 0;
}
.CartItem-ProductCounterCount {
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgb(235, 235, 235);
  outline: transparent;
  transition: all 0.15s;
}
.CartItem-ProductCounterCount:hover {
  border-color: rgb(176, 151, 106);
}
.CartItem-ProductCounterCount:active, .CartItem-ProductCounterCount:focus {
  border-color: rgb(176, 151, 106);
}
.CartItem-ProductCounter__disabled {
  color: rgb(153, 153, 153);
  background-color: rgb(235, 235, 235);
  cursor: default;
}
.CartItem-ProductCounter__disabled:hover {
  color: rgb(153, 153, 153);
  background-color: rgb(235, 235, 235);
  border-color: rgb(235, 235, 235);
}
.CartItem-ProductItemPrice {
  text-align: center;
}
.CartItem-ProductItemTotalPrice {
  display: flex;
  justify-content: end;
  min-width: 100px;
}
.CartItem-ProductDelete {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  color: rgb(185, 181, 181);
  transition: all 0.15s;
  cursor: pointer;
}
.CartItem-ProductDelete span {
  transition: all 0.15s;
}
.CartItem-ProductDelete:hover span {
  color: rgb(176, 151, 106);
}
.CartItem-ProductDeleteMobile {
  display: none;
}

.theme-dark .CartItem {
  background: linear-gradient(40deg, rgba(138, 143, 160, 0.16), rgba(31, 32, 41, 0.24) 16%), linear-gradient(210deg, rgba(138, 143, 160, 0.5), rgba(31, 32, 41, 0.24) 20%);
  border: 1px solid rgb(35, 40, 56);
}
.theme-dark .CartItem:hover {
  border: 1px solid rgb(176, 151, 106);
  box-shadow: rgba(138, 143, 160, 0.12) 0px 2px 4px 0px, rgba(138, 143, 160, 0.32) 0px 2px 16px 0px;
}
.theme-dark .CartItem-ProductCounterCount {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .CartItem {
    margin-bottom: 0;
    padding: 15px;
    border-right: none;
    border-left: none;
    border-right: 0;
  }
  .CartItem-ProductHeader {
    flex-direction: column;
  }
  .CartItem-ProductItemTotalPrice {
    order: 1;
    margin-bottom: 16px;
  }
  .CartItem-ProductTitle {
    order: 2;
    margin-right: 0;
    margin-bottom: 16px;
    text-align: center;
  }
  .CartItem-ProductActions {
    order: 3;
    margin-right: 0;
  }
  .CartItem-ProductDelete {
    display: none;
  }
  .CartItem-ProductDeleteMobile {
    display: block;
  }
  .CartItem-ProductDeleteMobile svg {
    fill: rgb(142, 142, 147);
  }
}
@media (max-width: 500px) {
  .CartItem-ProductHeader {
    align-items: flex-start;
  }
  .CartItem-ProductTitle {
    text-align: start;
  }
  .CartItem-ProductBottom {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=CartItem.css.map */
