@import "component";

.ProductEdit {
  &-Title {
    margin-bottom: 30px;
  }

  &-SubTitle {
    margin-bottom: 16px;
  }

  &-FormFieldGroup {
    margin-bottom: 30px;
  }

  &-Hidden {
    position: absolute;
    opacity: 0;
  }

  &-DefaultImage {
    margin-bottom: 16px;
  }
}
