.Catalogs {
  &-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &-Column {
    width: 50px;
    height: 300px;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    padding: 8px;
  }
}
