@import "component";

.YMapFormField {
  $this: &;
  position: relative;
  margin-bottom: 30px;
  height: 56px;
  width: 100%;
  border-radius: $border-radius;
  word-wrap: break-word;

  &-Label {
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: 1;
    color: $color-lighting;
    pointer-events: none;
    transition: all $transition;
  }

  &-Input__error {
    background-color: $color-light-red;
  }

  &_Visibility {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;

    svg {
      fill: rgba(0, 0, 0, 0.54);
    }
  }

  &__active {
    width: 100%;

    #{$this}-Label {
      top: 0;
      padding: 0;
      color: $color-lighting;
    }

    #{$this}-Input__active {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.54);
      border-radius: $border-radius;
      color: $color-text;

      input:hover,
      input {
        background-color: $color-white;
      }
    }

    input:-webkit-autofill.Input__active,
    input:-webkit-autofill.Input__active:hover,
    input:-webkit-autofill.Input__active:focus,
    input:-webkit-autofill.Input__active:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    & textarea,
    & textarea:hover {
      background-color: $color-white;
    }

    #{$this}-Input__active#{$this}-Input__error {
      border: 1px solid $color-red;
      background-color: $color-white;
    }
  }

  /* -------------------- Fix autocomplete form -------------------- */
  #{$this}-Inner:-webkit-autofill {
    -webkit-background-clip: text;
  }

  #{$this}-Inner {
    &:-webkit-autofill {
      border: 1px solid rgba(0, 0, 0, 0.54);
      & ~ #{$this}-Label {
        top: 0;
        padding: 0;
        color: $color-text;
        background-color: $color-white;
      }
    }
  }

  &-ErrorMessage {
    display: block;
    position: relative;
    padding-top: 5px;
    color: $color-red;
    z-index: 10;
    transition: all 0.3s;
  }
}

.theme-dark {
  .YMapFormField {
    &-Label .text-dark {
      color: $color-lighting;
    }

    &__active {
      .YMapFormField-Input__active {
        border: 1px solid $color-primary;

        input:hover,
        input {
          background-color: $color-darkness;
          color: $color-white;
        }
      }

      input:-webkit-autofill.Input__active,
      input:-webkit-autofill.Input__active:hover,
      input:-webkit-autofill.Input__active:focus,
      input:-webkit-autofill.Input__active:active {
        -webkit-box-shadow: 0 0 0 30px $color-darkness inset !important;
      }

      & textarea,
      & textarea:hover {
        background-color: $color-darkness;
      }
    }

    & .YMapFormField-ErrorField .text-dark {
      color: $color-red;
    }

    /* -------------------- Fix autocomplete form -------------------- */
    .YMapFormField-Input {
      &:-webkit-autofill {
        color: red;
        & ~ .YMapFormField-Label {
          color: $color-white;
        }
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: $color-white;
      }
    }
  }

  .GeoSearch-DropDown {
    background-color: transparent;
    color: $color-white;
    border: 1px solid transparent;

    &__active {
      background-color: $color-darkness;
      border-color: $color-primary;
    }

    p:hover {
      background-color: $color-primary;
    }
  }
}
