.Attributes {
  &-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &Controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-SearchingPanel {
    margin-right: 16px;
  }

  &-LinkButton {
    height: 42px;

    span {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}
