@import "component";

.FileUploader {
  display: inline-block;
  width: 100%;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius;
  padding: 16px;

  &-Dropzone {
    margin-bottom: 16px;

    &__isLoading {
      cursor: default;
    }

    &-Inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-Button {
      margin-top: 16px;
    }
  }
}
