@import "component";

.RadioCard {
  display: flex;
  align-items: center;
  padding: 16px;
  max-width: 334px;
  width: 100%;
  min-height: 72px;
  border: 2px solid $color-light-gray;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    border: 2px solid $color-dark-gray;
  }

  &__active {
    border: 2px solid $color-beige;

    &:hover {
      border: 2px solid $color-beige;
    }
  }

  &-Icon {
    margin-right: 16px;
    width: 32px;
    height: 24px;

    rect {
      stroke: $color-text;
    }

    path {
      stroke: $color-text;
    }
  }
}