/* #b0976a */
/* #997e4d */
/* #efeae1 */
/* #dfd5c3 */
/* #333333 */
/* #b0976a */
/* #bab9b9 */
/* #bab9b9 */
/* #efeae1 */
/* #dfd5c3 */
/* #414B5A */
/* #b3b3b3 */
/* #fff */
/* #000 */
/* #18181f */
/* #1f2029 */
/* #232838 */
/* #8a8fa0 */
/* #b0976a */
/* #997e4d */
/* #dfd3c3 */
/* #e31235 */
/* #fbe4e3 */
/* #FADBDA */
/* #e5e5e5 */
/* #B9B5B5 */
/* #8e8e93 */
/* #e4e4e4 */
/* #ebebeb */
/* #e8e8e8 */
/* #dedede */
/* #999999 */
/* #f0ad4e */
/* #ffd25d */
/* #c1c712 */
/* #2fb457 */
/* #8cb400 */
/* #008dd3 */
/* #0044BB */
.Order-Title {
  margin-bottom: 16px;
}
.Order-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.Order-BlockLeft {
  margin-right: 20px;
  max-width: 740px;
  width: 100%;
}
.Order-BlockRight {
  max-width: 390px;
  width: 100%;
}
.Order-Link {
  display: flex;
  align-items: center;
  color: rgb(176, 151, 106);
  transition: all 0.15s;
}
.Order-Link:hover {
  color: rgb(95, 79, 25);
}
.Order-Payment, .Order-Products, .Order-Recipient, .Order-Shipping, .Order-Total {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
}
.Order-Address {
  display: flex;
  align-items: center;
}
.Order-AddressIcon {
  margin-right: 16px;
}
.Order-AddressIcon svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
}
.Order-AddressInfo {
  display: flex;
  flex-direction: column;
}
.Order-AddressInfoTitle {
  margin-bottom: 4px;
}
.Order-AddressInfoSubTitle {
  color: rgb(185, 181, 181);
}
.Order-RecipientInfo {
  display: flex;
  align-items: center;
}
.Order-RecipientInfoIcon {
  margin-right: 16px;
}
.Order-RecipientInfoIcon svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
}
.Order-RecipientInfoText {
  display: flex;
  flex-direction: column;
}
.Order-RecipientInfoTitle {
  margin-bottom: 4px;
}
.Order-RecipientInfoSubTitle {
  color: rgb(185, 181, 181);
}
.Order-Total .Order-Inner:first-child {
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-bottom: 16px;
}
.Order-Total .Order-Inner:last-child {
  margin-top: 8px;
}
.Order-Payment .Order-Inner {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.Order-PaymentInfo {
  display: flex;
  align-items: center;
}
.Order-PaymentIcon {
  margin-right: 8px;
  width: 32px;
  height: 24px;
}
.Order-PaymentIcon rect {
  stroke: rgb(51, 51, 51);
}
.Order-PaymentIcon path {
  stroke: rgb(51, 51, 51);
}
.Order-PaymentChange {
  color: rgb(176, 151, 106);
  cursor: pointer;
  transition: all 0.15s;
}
.Order-PaymentChange:hover {
  color: rgb(95, 79, 25);
}
.Order-PaymentButton {
  width: 100%;
}
.Order-Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  max-width: 590px;
  width: 100%;
}
.Order-ControlsLink {
  display: flex;
  align-items: center;
  color: rgb(176, 151, 106);
  transition: all 0.15s;
}
.Order-ControlsLink svg {
  width: 30px;
  height: 30px;
  fill: rgb(176, 151, 106);
  transition: all 0.15s;
}
.Order-ControlsLink:hover {
  color: rgb(95, 79, 25);
}
.Order-ControlsLink:hover svg {
  fill: rgb(95, 79, 25);
}
.Order-ControlsText {
  margin-left: 4px;
}
.Order-ModalDefence {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.Order-ModalDefenceIcon {
  margin-right: 8px;
}
.Order-ModalDefenceIcon svg {
  width: 24px;
  height: 24px;
}
.Order-ModalDefenceIcon path {
  fill: rgb(51, 51, 51);
}
.theme-dark .Order-Payment, .theme-dark .Order-Products, .theme-dark .Order-Recipient, .theme-dark .Order-Shipping, .theme-dark .Order-Total {
  background: linear-gradient(40deg, rgba(138, 143, 160, 0.16), rgba(31, 32, 41, 0.24) 16%), linear-gradient(210deg, rgba(138, 143, 160, 0.5), rgba(31, 32, 41, 0.24) 20%);
  border: 1px solid rgb(35, 40, 56);
}

@media (max-width: 1000px) {
  .Order-InnerMobile {
    flex-direction: column;
  }
  .Order-BlockLeft {
    margin-right: 0;
  }
  .Order-RadioCardPaymentMethodMobile {
    margin-bottom: 16px;
  }
  .Order-RadioCardPaymentMethodMobile:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .Order-Controls {
    margin-top: 0;
  }
  .Order-ControlsLink svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 500px) {
  .Order-Product {
    flex-direction: column;
  }
  .Order-ProductInfo {
    flex-direction: column;
  }
  .Order-ProductTitle {
    margin: 8px 0;
  }
  .Order-AddressIcon svg {
    width: 18px;
    height: 18px;
  }
}

/*# sourceMappingURL=Order.module.css.map */
