.AttributeEdit {
  &-Title {
    margin-bottom: 30px;
  }

  &-Form {
    max-width: 590px;
    width: 100%;
  }

  &-FormFieldGroup {
    margin-bottom: 30px;
  }

  &-FormControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    max-width: 590px;
    width: 100%;
  }
}
