.Contacts {
  &-Title {
    margin-bottom: 30px;
  }

  &-SubTitle {
    margin-bottom: 16px;
  }

  &-Paragraph {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .Contacts {
    &-Title {
      //@include roboto-22-bold;
    }

    &-SubTitle {
      //@include roboto-18-bold;
    }
  }
}
