@import "component";

.HeaderBottom {
  $this: &;
  display: flex;
  position: relative;

  &__catalogOpen {
    border-top: 1px solid white;
    box-shadow: none;

    #{$this}-Link {
      display: none;
    }
  }

  &-Title {
    display: flex;
    align-items: center;
    color: $color-white;
  }

  & #{$this}-SearchControlsMobile {
    display: none;
    max-width: 100%;
  }

  &-Desktop {
    display: block;
    width: 100%;
  }

  &-Info {
    width: 100%;
  }

  &-InfoInner {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-InfoLeft,
  &-InfoRight {
    display: flex;
  }

  &-InfoLeft #{$this}-Text {
    margin-right: 25px;
  }

  &-InfoLeft #{$this}-Text:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .HeaderBottom {
    $this: &;

    &-Desktop {
      display: none;
    }

    & #{$this}-SearchControlsMobile {
      display: block;
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .HeaderBottom {
    margin-top: -10px;
  }
}
