@import "component";

.Previews {
  width: 100%;

  &-Thumb {
    display: flex;
    margin-bottom: 16px;

    &-Inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary;
      border-radius: $border-radius;
      height: 100px;
      width: 100px;
      padding: 4px;
      margin-right: 8px;
      overflow: hidden;
    }

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: fill;
      //width: 100%;
      //max-width: 100%;
      //height: auto;
    }
  }

  &-File {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    background-color: $color-light-gray;
    border-radius: $border-radius;

    &-Inner {
      display: flex;
      align-items: center;
    }

    &-IconWrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: inherit;
    }

    &-ImageIcon {
      height: 24px;
      width: 24px;
    }

    &-Name {
      margin-left: 8px;
    }

    &-AddIcon {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }

    &-TrashIcon {
      margin-left: 8px;
    }
  }

}