@import "component";

$categoryWidth: 158px;

.CatalogListItem {
  padding: 16px 0;
  max-width: $categoryWidth;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: all $transition;

  &-Image {
    height: calc(100% - 48px);
    max-width: $categoryWidth;
    object-fit: contain;
    border-radius: 24px;
  }

  &-Title {
    //@include roboto-16-bold;
    margin-top: 8px;
    text-align: center;
    transition: all $transition;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
    color: $color-primary;
  }
}
