.Products {
  &-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &Controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-SearchingPanel {
    margin-right: 16px;
  }
}
