@import "component";

.SearchGlobalListItem {
  $this: &;
  margin: 3px;
  border-radius: 4px;
  min-height: 44px;

  &-Link {
    display: flex;
    align-items: center;
    padding: 8px 10px;

    &__active {
      background-color: $color-primary;
      color: $color-white;

      #{$this}-Title {
        color: $color-white;
      }

      #{$this}-Price {
        color: $color-white;
      }
    }
  }

  &-Images {
    height: 28px;
  }

  &-Title {
    margin: 0 10px;
    color: $color-text;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }

  &-Price {
    color: $color-text;
    white-space: nowrap;
  }

  &-ByCatalog {
    border-bottom: 1px solid $color-light-gray;
  }
}

.theme-dark {
  & .SearchGlobalListItem {
    $this: &;

    &-Link {
      &__active {
        span.text-dark {
          color: $color-white;
        }
      }
    }
  }
}
