@import "styles";

.Product {
  width: 100%;
}

.Title {
  @include roboto-24-bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Navigation {
  margin-bottom: 20px;

  &Text {
    color: $color-beige;
    transition: all 0.15s;

    &:hover {
      color: $color-beige-hover;
    }
  }
}

.ProductMainInfo {
  display: flex;
  justify-content: space-between;
}

.ColMedia {
  max-width: 400px;
  width: 100%;
}

.ColSpecification {
  padding: 0 25px;
}

.ColPrice {
  padding: 20px;
  max-width: 330px;
  width: 100%;
  height: max-content;
  border-radius: 4px;
  box-shadow: $shadow-perimeter;

  &Title {
    display: inline-block;
  }
}

.ProductGallery {
}

.ProductSpecification {
  @include roboto-14-regular;

  &Title {
    @include roboto-14-bold;
    margin-bottom: 16px;
  }

  &List {
    margin-bottom: 8px;
  }

  li {
    position: relative;
    padding-left: 12px;

    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 4px;
      height: 4px;
      content: " ";
      border-radius: 4px;
      background: #999;
    }
  }

  li + li {
    margin-top: 8px;
  }
}

.ProductPrice {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.ProductStatus {
  display: inline-block;
  color: $color-beige;
}

.ProductAddToCart {
  height: 50px;
  width: 100%;
}

.ProductPay {
  @include roboto-14-regular;
  margin: 8px 0 16px;
}

.ButtonGoAtCart {
  @include roboto-16-regular;
  padding: 10px 30px;
  text-align: center;
  height: max-content;
  width: 100%;
  color: $color-beige;
  background-color: $color-white;
  border: 1px solid $color-beige;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

  &:hover {
    color: $color-beige-hover;
    border: 1px solid $color-beige-hover;
  }
}

@media (max-width: 1300px) {
  .ProductMainInfo {
    flex-direction: column;
    align-items: center;
  }

  .Title {
    margin-top: 30px;
    margin-bottom: 16px;
  }

  .ColMedia {
    max-width: 200px;
  }

  .ColSpecification,
  .ColPrice {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .Title {
    @include roboto-22-bold;
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: center;
  }

  .ProductPrice {
    @include roboto-16-bold;
  }
}

@media (max-width: 500px) {
  .Title {
    @include roboto-22-bold;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
  }
}
