@import "component";

.LinkButton {
  //@include roboto-16-regular;
  position: relative;
  padding: 10px 30px;
  height: max-content;
  width: max-content;
  color: $color-white;
  background-color: $color-beige;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s;

  & span {
    position: relative;
    display: inline-block;
    z-index: 2;
    height: max-content;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-white;
    z-index: 2;

    &::before {
      transform: translateY(-50%) scaleY(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    background-image: url("/assets/images/btn-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
      -webkit-transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    transform: translateY(0) scaleY(0);
  }

  &.LinkButton__disabled {
    color: $color-silver-gray;
    background-color: $color-pearl-white;
    border-color: $color-silver-gray;

    &:active {
      transform: none;
    }

    &:hover {
      color: $color-silver-gray;
      background-color: $color-pearl-white;
      border-color: $color-silver-gray;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 500px) {
  .LinkButton {
    //@include roboto-14-regular;
  }
}
