@import "component";

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 15px;
  height: 24px;
  width: 100%;
  background-color: $color-primary;
  overflow-y: hidden;
  z-index: 1;

  &-Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
  }

  &-Info {
    display: flex;
    justify-content: space-between;
  }

  &-Text {
    margin-left: 32px;
    text-align: center;
    color: $color-white;

    &:first-child {
      margin-left: 0;
    }
  }

  &-Link {
    color: $color-white;
    transition: all 0.15s;

    &:hover {
      color: $color-hover;
    }
  }

  &-Text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 25px;
    transition: all 0.15s;

    & span {
      transition: all 0.15s;

      &:hover {
        color: $color-primary-hover;
      }
    }

    &__noHover {
      color: inherit;
    }

    &__isActive {
      color: $color-primary-hover;
    }

    &:hover {
      color: $color-primary-hover;
    }
  }
}

@media (max-width: 500px) {
  .Footer-Text {
    margin-bottom: 8px;
    margin-left: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
