@import "component";

.GeoSearch {
  position: relative;
  width: 100%;
  height: 100%;

  &-DropDown {
    position: absolute;
    margin-top: 4px;
    padding: 4px 0;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-white;
    border-radius: 4px;
    z-index: 11;

    &__active {
      border: 1px solid $color-light-gray;
    }

    p {
      padding: 4px 8px;
    }

    p:hover {
      background-color: $color-light-beige;
    }
  }

  &-Input__active {
    width: 100%;
    //border: 1px solid rgba(0, 0, 0, 0.54);
    color: $color-text;
    background-color: $color-white;

    input {
      background-color: $color-white;
    }

    input:hover {
      background-color: $color-white;
    }
  }
}
