@import "component";

.Settings {
  &-Title {
    margin-bottom: 30px;
  }

  &-SubTitle {
    margin-bottom: 16px;
  }

  &-Block {
    margin-bottom: 24px;
  }

  &-Select {
    max-width: 220px;
    width: 100%;

    svg {
      fill: $color-black;
      transition: all $transition;
    }

    &__active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.theme-dark {
  .Settings {
    &-Select {
      svg {
        fill: $color-white;
      }
    }
  }
}
