@import "styles/index";

.Catalog {
  .Row {
    display: flex;
    align-items: baseline;

    .Title {
      @include roboto-32-bold;
      margin-bottom: 30px;
    }

    span {
      margin-left: 50px;
    }
  }

  .Inner {
    display: flex;
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Catalog {
    & .Row {
      & .Title {
        @include roboto-22-bold;
      }
    }
  }

  .Inner {
    flex-direction: column;
  }
}