.SettingSelectControl {
  display: flex;
  align-items: center;
  width: 100%;

  &-Icon {
    margin-left: 10px;
    width: 26px;

    svg {
      transform: none;
    }
  }

  &-Children {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
