@import "component";

.About {
  &-Title {
    margin-bottom: 30px;
  }

  &-Paragraph {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .About {
    &-Title {
      //@include roboto-22-bold;
    }
  }
}
