@charset "UTF-8";
/* #b0976a */
/* #997e4d */
/* #efeae1 */
/* #dfd5c3 */
/* #333333 */
/* #b0976a */
/* #bab9b9 */
/* #bab9b9 */
/* #efeae1 */
/* #dfd5c3 */
/* #414B5A */
/* #b3b3b3 */
/* #fff */
/* #000 */
/* #18181f */
/* #1f2029 */
/* #232838 */
/* #8a8fa0 */
/* #b0976a */
/* #997e4d */
/* #dfd3c3 */
/* #e31235 */
/* #fbe4e3 */
/* #FADBDA */
/* #e5e5e5 */
/* #b9b5b5 */
/* #8e8e93 */
/* #e4e4e4 */
/* #ebebeb */
/* #e8e8e8 */
/* #dedede */
/* #bfbfbf */
/* #999999 */
/* #f0ad4e */
/* #ffd25d */
/* #c1c712 */
/* #2fb457 */
/* #8cb400 */
/* #008dd3 */
/* #0044BB */
.HeaderIconsList {
  display: flex;
  max-width: 400px;
  width: 100%;
  /* ----- Открытие/закрытие DropDown ----- */
}
.HeaderIconsList-Item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-align: center;
  max-width: 94px;
  width: 100%;
}
.HeaderIconsList-IconLink {
  position: relative;
  text-decoration: none;
}
.HeaderIconsList-IconLink svg,
.HeaderIconsList-IconLink path {
  height: 25px;
  width: 25px;
  fill: rgb(255, 255, 255);
}
.HeaderIconsList-IconLink .HeaderIconsList-IconDescription {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.15s;
}
.HeaderIconsList-IconLink:hover {
  color: rgb(255, 255, 255);
}
.HeaderIconsList-IconLink:hover .HeaderIconsList-IconDescription {
  color: rgb(255, 255, 255);
}
.HeaderIconsList-IconCart {
  position: relative;
  width: max-content;
}
.HeaderIconsList-CartItemsCount {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  transform: translateY(90%);
  right: -10px;
  width: 20px;
  height: 20px;
  color: rgb(51, 51, 51);
  background-color: rgb(176, 151, 106);
  border: 1px solid rgb(176, 151, 106);
  border-radius: 50%;
}
.HeaderIconsList-AvatarDropDown {
  position: relative;
  height: max-content;
  width: max-content;
}
.HeaderIconsList-AvatarDropDown_Menu {
  padding: 4px;
}
.HeaderIconsList-AvatarDropDown_MenuItem {
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 0 16px;
  min-height: 44px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s;
}
.HeaderIconsList-AvatarDropDown_MenuItem:hover {
  background-color: rgb(223, 213, 195);
}
.HeaderIconsList-AvatarDropDown_MenuItemIcon svg {
  height: 24px;
  width: 24px;
}
.HeaderIconsList-AvatarDropDown_MenuItemText {
  margin-left: 16px;
}
.HeaderIconsList-DropDownUser {
  content: "";
  position: absolute;
  bottom: -64px;
  right: 0;
  height: max-content;
  width: max-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 110;
}
.HeaderIconsList-DropDownUser.enter {
  opacity: 0;
}
.HeaderIconsList-DropDownUser.enter-active {
  opacity: 1;
  transition: opacity 0.15s;
}
.HeaderIconsList-DropDownUser.exit {
  opacity: 1;
  transition: opacity 0.15s;
}
.HeaderIconsList-DropDownUser.exit-active {
  opacity: 0;
  transition: opacity 0.15s;
}

.theme-dark .HeaderIconsList {
  /* ----- Открытие/закрытие DropDown ----- */
}
.theme-dark .HeaderIconsList-AvatarDropDown_MenuItem:hover {
  background-color: rgb(176, 151, 106);
}
.theme-dark .HeaderIconsList-DropDownUser {
  background-color: rgb(31, 32, 41);
}

@media (max-width: 768px) {
  .HeaderIconsList-ItemDesktop {
    display: none;
  }
  .HeaderIconsList-ItemDesktop-ButtonCatalog {
    display: none;
  }
  .HeaderIconsList-ItemDesktop-IconDescription {
    display: none;
  }
  .HeaderIconsList-ItemDesktop-CartItemsCount {
    top: -10px;
    right: -5px;
    width: 14px;
    height: 14px;
    transform: translateY(25%);
    font-size: 10px;
    line-height: 0;
  }
  .HeaderIconsList-ItemDesktop-Icon svg {
    width: 18px;
    height: 18px;
  }
  .HeaderIconsList-ItemDesktop-IconLink {
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=HeaderIconsList.module.css.map */
