@import "component";

$height: 100px;
$heightIsScroll: 60px;

.HeaderCenter {
  $this: &;
  height: $height;
  background-color: transparent;
  transition: all 0.15s;
  z-index: 102;

  &__isHomePage {
    .Text {
      color: white;
    }
  }

  &__isScroll {
    height: $heightIsScroll;
    background-color: white;
    z-index: 102;

    #{$this}-Inner {
      height: $heightIsScroll;
    }
  }

  &-Container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  &-Inner {
    display: flex;
    align-items: center;
    height: $height;
    transition: all 0.15s;

    &Desktop {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &-ButtonSidebar {
    padding: 10px;
  }

  &-Mobile {
    display: none;
    width: 100%;
  }

  &-Text {
    //@include roboto-16-regular;
    color: $color-text;
    transition: all 0.15s;

    &:hover {
      color: $color-beige;
    }
  }
}

@media (max-width: 1000px) {
  .HeaderCenter-ButtonCatalogText {
    display: none;
    padding: 10px 26px;
    width: 44px;
  }
}

@media (max-width: 768px) {
  .HeaderCenter {
    $this: &;
    height: 60px;

    & #{$this}-SearchControlsDesktop {
      display: none;
    }

    & #{$this}-LogoMobile {
      max-width: max-content;

      & svg {
        max-width: max-content;
      }
    }

    & #{$this}-HeaderIconsListMobile {
      max-width: max-content;
    }

    & #{$this}-ButtonSidebar {
      background-color: $color-white;
      box-shadow: none;

      &__isHomePage {
        background-color: transparent;
      }
    }

    &-Inner {
      height: 60px;
    }

    &-InnerDesktop {
      display: none;
    }

    &-Desktop {
      display: none;
    }

    &-Mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
