.ProductAdd {
  &-Title {
    margin-bottom: 30px;
  }

  &-SubTitle {
    margin-bottom: 16px;
  }

  &-FormFieldGroup {
    margin-bottom: 30px;
  }

  &-DefaultImage {
    margin-bottom: 16px;
  }
}
