@import "component";

.Cart {
  &-Title {
    margin-bottom: 30px;
  }

  &-Inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-List {
    margin-right: 50px;
    max-width: 780px;
    width: 100%;
  }

  &-Checkout {
    position: relative;
    max-width: 320px;
    width: 100%;

    &Inner {
      position: fixed;
      max-width: 320px;
      width: 100%;
    }
  }

  &-OrdersList {
    margin-bottom: 12px;
    padding: 20px;
    background-color: $color-pearl-white;
    border-radius: $border-radius;
  }

  &-CostLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &Text {
      display: flex;
      align-items: flex-end;
    }

    &Price {
      display: flex;
      flex-direction: column;
    }

    &SubTotalPrice {
      color: $color-shade-gray;
      text-align: end;
      text-decoration: line-through;
    }

    &PriceWithDiscount {
      line-height: 1;
    }
  }

  &-ButtonGoToOrder {
    width: 100%;
  }

  &-IconLogoShort {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-primary;
    }
  }

  &-IconEnter {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-green;
    }
  }

  &-TextEnter {
    margin-left: 16px;
    color: $color-blue;
    transition: all $transition;

    &:hover {
      color: $color-primary;
    }
  }

  &-BackToShopping {
    display: inline-block;
    margin-left: 20px;
    color: $color-dark-gray;
    border-bottom: 1px solid rgba(0, 141, 211, 0.3);
    cursor: pointer;
    transition: all $transition;

    span {
      transition: all $transition;
    }

    &:hover {
      border-bottom: 1px solid $color-primary;

      span {
        color: $color-primary;
      }
    }
  }
}

.theme-dark {
  .Cart {
    &-OrdersList {
      background: linear-gradient(
          40deg,
          rgba(138, 143, 160, 0.16),
          rgba(31, 32, 41, 0.24) 16%
        ),
        linear-gradient(
          210deg,
          rgba(138, 143, 160, 0.5),
          rgba(31, 32, 41, 0.24) 20%
        );
      border: 1px solid $color-nightSky;
    }
  }
}

@media (max-width: 1000px) {
  .Cart {
    $this: &;

    &-Inner {
      flex-direction: column;
    }

    &-List {
      margin-bottom: 24px;
    }

    &-CheckoutInner {
      position: static;
    }

    &-OrdersList #{$this}-Inner {
      flex-direction: row;
    }
  }
}

@media (max-width: 500px) {
  .Cart {
    $this: &;

    & #{$this}-Checkout {
      max-width: 100%;
    }

    & #{$this}-CheckoutInner {
      margin: 0 auto;
    }
  }
}
