@import "component";

.Panel {
  margin-bottom: 30px;

  &-SelectPrice {
    max-width: 220px;
    width: 100%;

    svg {
      fill: black;
      transition: all 0.15s;
    }

    &__active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &-Inner {
    position: relative;
  }

  &-Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
