$color-primary: rgba(176, 151, 106, 1); /* #b0976a */
$color-primary-hover: rgba(95, 79, 25, 1); /* #997e4d */
$color-primary-light: rgba(239, 234, 225, 1); /* #efeae1 */
$color-primary-light-hover: rgba(223, 213, 195, 1); /* #dfd5c3 */

$color-text: rgba(51, 51, 51, 1); /* #333333 */
$color-button-bg: rgba(176, 151, 106, 0.9); /* #b0976a */
$color-border: rgba(186, 185, 185, 0.5); /* #bab9b9 */
$color-border-hover: rgba(134, 134, 134, 0.5); /* #bab9b9 */
$color-bg-input: rgba(239, 234, 225, 1); /* #efeae1 */
$color-bg-input-hover: rgba(223, 213, 195, 1); /* #dfd5c3 */
$color-hover: rgba(65, 75, 90, 1); /* #414B5A */
$color-disabled: rgba(179, 179, 179, 1); /* #b3b3b3 */

$color-white: rgba(255, 255, 255, 1); /* #fff */
$color-pearl-white: #f5f5f5;

$color-black: rgba(0, 0, 0, 1); /* #000 */
$color-night: rgba(24, 24, 31, 1); /* #18181f */
$color-darkness: rgba(31, 32, 41, 1); /* #1f2029 */
$color-nightSky: rgba(35, 40, 56, 1); /* #232838 */
$color-lighting: rgba(138, 143, 160, 1); /* #8a8fa0 */

$color-beige: rgba(176, 151, 106, 1); /* #b0976a */
$color-beige-hover: rgba(95, 79, 25, 1); /* #997e4d */
$color-light-beige: rgba(223, 213, 195, 1); /* #dfd3c3 */

$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-light-red: rgba(251, 228, 227, 1); /* #fbe4e3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #FADBDA */

$color-gray: rgba(229, 229, 229, 1); /* #e5e5e5 */
$color-dark-gray: rgba(185, 181, 181, 1); /* #B9B5B5 */
$color-suit-gray: rgba(142, 142, 147, 1); /* #8e8e93 */
$color-light-gray: rgba(228, 228, 228, 1); /* #e4e4e4 */
$color-moon-gray: rgba(235, 235, 235, 1); /* #ebebeb */
$color-mercury-gray: rgba(232, 232, 232, 1); /* #e8e8e8 */
$color-alto-gray: rgba(87, 87, 87, 1); /* #dedede */
$color-silver-gray: #bfbfbf;
$color-shade-gray: rgba(153, 153, 153, 1); /* #999999 */

$color-yellow: rgba(240, 173, 78, 1); /* #f0ad4e */
$color-light-yellow: rgba(255, 210, 93, 1); /* #ffd25d */
$color-yellow-green: rgba(193, 199, 18, 1); /* #c1c712 */

$color-green: rgba(47, 180, 87, 1); /* #2fb457 */
$color-light-green: rgba(140, 180, 0, 1); /* #8cb400 */

$color-blue: rgba(0, 141, 211, 1); /* #008dd3 */
$color-dark-blue: rgba(0, 68, 187, 1); /* #0044BB */
