/* -------------------- Global Styles -------------------- */

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

#__next {
    height: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

section {
    margin: 30px 0;
}

button {
    cursor: pointer;
    outline: transparent;
}

.theme-dark {
    background-color: rgba(24, 24, 31, 1);
    color: #fff;
}

.theme-dark .text-dark {
    color: #fff;
}

.theme-dark .icon-dark {
    color: #fff;
    fill: #fff;
}

/* ----- Резиновая главная картинка в слайдере ----- */
.slick-slide img {
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    outline: transparent;
}

.slick-slider {
    position: relative;
    margin-bottom: 30px;
}

.slick-slider .slick-dots {
    display: flex !important;
    justify-content: center;
    bottom: -45px;
}

.slick-slider .slick-dots li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 30px;
    cursor: pointer;
}

.slick-slider .slick-dots li button {
    padding: 0;
    font-size: 0;
    max-width: 100%;
    width: 30px;
    height: 3px;
    background-color: #e5e5e5;
    border: none;
    outline: transparent;
    transition: all 0.15s;
}

.slick-slider .slick-dots li button:hover {
    background-color: #b9b5b5;
}

.slick-slider .slick-dots li.slick-active button {
    background-color: #b0976a;
    outline: transparent;
}

.slick-slider .slick-dots li button:before,
.slick-slider .slick-dots li.slick-active button:before {
    color: transparent;
}

/* ----- Общие свойства для всех слайдеров ----- */
.slick-list,
.slick-track {
    touch-action: pan-y;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    touch-action: pan-y;
}

.slick-prev:before,
.slick-next:before {
    opacity: 0 !important;
}