$base-font-family: "Roboto", sans-serif;

/* Roboto/12/Regular */
@mixin roboto-12-regular {
  font-family: $base-font-family;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/12/Bold */
@mixin roboto-12-bold {
  font-family: $base-font-family;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/14/Regular */
@mixin roboto-14-regular {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/14/Medium */
@mixin roboto-14-medium {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/14/Bold */
@mixin roboto-14-bold {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/16/Regular */
@mixin roboto-16-regular {
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/16/Medium */
@mixin roboto-16-medium {
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/16/Bold */
@mixin roboto-16-bold {
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/18/Medium */
@mixin roboto-18-medium {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/18/Bold */
@mixin roboto-18-bold {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/20/Bold */
@mixin roboto-20-bold {
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/22/Medium */
@mixin roboto-22-medium {
  font-family: $base-font-family;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/22/Bold */
@mixin roboto-22-bold {
  font-family: $base-font-family;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/24/Regular */
@mixin roboto-24-regular {
  font-family: $base-font-family;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/24/Medium */
@mixin roboto-24-medium {
  font-family: $base-font-family;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/24/Bold */
@mixin roboto-24-bold {
  font-family: $base-font-family;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/26/Medium */
@mixin roboto-26-medium {
  font-family: $base-font-family;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/28/Medium */
@mixin roboto-28-medium {
  font-family: $base-font-family;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/32/Medium */
@mixin roboto-32-medium {
  font-family: $base-font-family;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}

/* Roboto/32/Bold */
@mixin roboto-32-bold {
  font-family: $base-font-family;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
}