@import "styles";

.Button {
  @include roboto-16-regular;
  position: relative;
  padding: 10px 30px;
  height: max-content;
  width: max-content;
  color: $color-white;
  background-color: $color-beige;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s;

  & span {
    position: relative;
    display: inline-block;
    z-index: 2;
    height: max-content;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-white;
    z-index: 2;

    &::before {
      transform: translateY(-50%) scaleY(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    background-image: url("/images/btn-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
    -webkit-transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    transform: translateY(0) scaleY(0);
  }

  &.Button__disabled {
    color: $color-silver-gray;
    background-color: $color-pearl-white;
    border-color: $color-silver-gray;

    &:active {
      transform: none;
    }

    &:hover {
      color: $color-silver-gray;
      background-color: $color-pearl-white;
      border-color: $color-silver-gray;
      cursor: not-allowed;
    }
  }

  // Click effect
  p {
    position: absolute;
    display: inline-block;
    background-color: $color-white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    z-index: 3;
    animation: animate 0.6s linear;
  }

  @keyframes animate {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}

@media (max-width: 500px) {
  .Button {
    @include roboto-14-regular;
  }
}