@import "component";

$maxWidth: 620px;
$heightDropDown: 335px;
$height: 43px;

.Search {
  $this: &;
  display: flex;
  align-items: center;
  position: relative;
  max-width: $maxWidth;
  width: 100%;
  background-color: transparent;

  &-Form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &-InputWrapper {
    padding: 0;
    width: 100%;
    height: $height;
    background-color: transparent;
    border-bottom: 1px solid $color-light-gray;
    border-left: 1px solid $color-light-gray;
    border-right: 1px solid $color-light-gray;
  }

  &-Input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    margin: 0;
    padding: 0 50px 0 16px;
    width: 100%;
    height: 42px;
    border: none;
    background-color: $color-white;
    outline: transparent;

    &::placeholder {
      background-color: transparent;
      color: $color-text;
    }
  }

  &-Icon {
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;
  }

  &__active {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 101;

    //#{$this}-InputWrapper {
    //  border: 2px solid transparent;
    //}

    #{$this}-Input {
      background-color: transparent;
    }
  }
}

.theme-dark {
  .Search {
    $this: &;

    &-Input {
      background-color: $color-night;
      color: $color-white;

      &::placeholder {
        color: $color-white;
      }
    }
  }
}

@media (max-width: 768px) {
  .Search {
    &-Input {
      height: $height;
    }
    &-InputWrapper {
      border: none;
    }

    &-Icon {
      width: 16px;
      height: 16px;
    }
  }
}
